body{
    background-color: #E8CF8C;
    padding: 0;
    margin: 0;
}

header{
    background-color: #B09754;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    
    a{
        color: black;
        font-size: 30px;
        text-decoration: none;
        font-family: 'Ubuntu', sans-serif;
        text-transform: uppercase;
        vertical-align: middle;
        padding-top: 15px;
    }
}
@media screen and (max-width:860px){
    header{
        background-color: #B09754;
        border-radius: 0px 0px 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        
        a{
            color: black;
            font-size: 30px;
            text-decoration: none;
            font-family: 'Ubuntu', sans-serif;
            text-transform: uppercase;
            vertical-align: middle;
            padding-top: 15px;
            text-align: center;
        }
    }
    
}


.qsj_title{
    text-align: center;
    text-transform: uppercase;
}
.qui-suis-je{
    display: flex;
    img{
        width: 300px;
        height: 400px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top:  50px;
    }
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 32px;
    }

}
.qsj_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:1500px){
    .qui-suis-je{
        display: flex;
        flex-direction: column-reverse;
        img{
            width: 300px;
            height: 400px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            font-family: 'Ubuntu', sans-serif;
            font-size: 32px;
        }
    }
    .qsj_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}
.dïplome_titl{
    text-align: center;
    text-transform: uppercase;  
}
.diplomeO{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img{
        width: 400px;
        border-radius: 20px;
        padding-bottom: 10px;
    }
}
.diplomePO_title{
    text-align: center;
    text-transform: uppercase;
}
.diplomePO{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img{
        width: 400px;
        border-radius: 20px;
        padding-bottom: 10px;
    }
}
footer{
    background-color: #B09754;
    border-radius: 20px 20px 0px 0px; 
    p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 30px;
    }
    li{
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        line-height: 2px;
    }
    iframe{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .ico{
        display: flex;
        justify-content: right;
    }
    .copyright{
        display: flex;
        justify-content: center;
    }
}